/* Added colors */
$general_bkg:    #464646;
$general_light:  #CAFEEE;
$general_dark:   #4EAE91;
$article_bkg:    #4D566F;
$article_light:  #D5575B;
$article_dark:   #9E383B;
$vulga_bkg:      #384f35;
$vulga_light:    #FF9E00;
$vulga_dark:     #FF9E00;
$tech_bkg:       #566666;
$tech_light:     #FFF51F;
$tech_dark:      #9F9C68;
$entretien_bkg:  #4C3552;
$entretien_light:#fffa7c;
$entretien_dark: #8E1693;

